/*Base Color Template
        --black: #000000;
        --ash-black: #222;
        --white: #ffffff;
        --offwhite: #F5F5DC;
        --sky: #00ccff;
        --green: #22dddd;
        --blue: #1300ff;
        --dusk: #6600ff;
        --purple: #9900ff;
        --pink: #ff0066;
        --red: #fe0222;
        --orange: #fd7702;
        --yellow: #ffbb00;
*/
html {
    scroll-padding-top: 4rem;
  }
.dropdown:hover .dropdown-menu {
    display: block;
}

@media (min-width: 768px) {
    .dropdown-menu {
      right: 0;
      left: auto;
    }
}  

.gradient-background {/*class selecter*/
    background: linear-gradient(255deg,#c2d0ff,#ffe2f2);
    background-size: 340% 340%;
    animation: gradient-anim 69s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate both;
}

  @keyframes gradient-anim {
    0% {
        opacity: 1;
        background-position: 0% 50%;
    }
    50% {
        opacity: 1;
        background-position: 100% 50%;
    }
    100% {
        opacity: 1;
        background-position: 0% 50%;
    }
  }

.dropdown-item:hover {
    background-color: #e6f2ff; /* Hover background color */
}

.dropdown-item {
    background: linear-gradient(235deg, #aaad0f 20%, #830135 65%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-anim 29s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate-reverse backwards;
}

div{/*class selector*/
    text-align: justify;
}

h1{/*tag selector*/
    text-align: center;
    font-weight: bold;
    /*transform: translate(0px, -48px);*/
    --color: #830135;
    font-size: 72px;
    background-image: linear-gradient(135deg, #aaad0f 20%, #830135 65%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{/*tag selector*/
    text-align: center;
    font-weight: bold;
    --color: #830135;
    font-size: 48px;
    background-image: linear-gradient(135deg, #ad830f 40%, #830135 75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menuAnchor{/*id selector*/
    letter-spacing: 1px;
    text-align: left;
}

.listPad{/*class selector*/
    display: inline-block;
    text-align: left;
    padding-inline-start: 25%;
    padding-inline-end: 15%;
    line-height: 1.5;
}

#pa{/*id selector*/
    text-align: center;
    font-style: italic;
}

#phob{
    text-align: center;
    padding-inline-start: 25%;
    padding-inline-end: 25%;
    line-height: 2;
}

.pi{/*class selector*/
    text-align: justify;
    padding-inline-start: 20%;
    padding-inline-end: 35%;
    line-height: 2;
}

.table{
    width: 40%;
    margin: 0 30%;
    text-align: left;
}

.thEnd{
    padding-inline-start: 15%;
}

.aimg{
    display: flex;
    justify-content: center;
}

.div_c{/*class selector*/
    text-align: center;
}